@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-family: 'Lato', sans-serif;
}

.container {
    height: 300px;
    width: 300px;
    border: 1px solid rgb(62, 62, 96);
    border-radius: 5px;
    margin: 10rem auto;
    text-align: center;
    background-color: rgba(108, 87, 128, 0.534);
    background-image:linear-gradient(rgba(72, 72, 137, 0.587)) url(../images/1.jpg);
    background-size: cover;
    background-position: center;
}
.container > input, .container button{
    display: block;
    margin: 1rem auto;
}
.container button {
    width: 5rem;
    padding: 0.3rem;
    color: aliceblue;
    background-color: rgb(34, 101, 101);
}

.container h3 {
    margin: 2rem;
    color: aliceblue;
    text-transform: capitalize;

}
.container p {
    color: aliceblue;
    font-size: 1rem;
}